/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
body {
    background-image: url(https://i.ibb.co/jbhRZ7H/bg.webp);
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}
a {
    display: block;
    padding: 0.5rem 1rem;

    text-decoration: none;
    color: white;
}
a.nav-item:hover {
   color: #0e0e12;
}

@media (max-width: 575px) {
   
    .navbar {
        position:fixed;
        padding-top: 1.5rem;
    }
    .mt-4 {
        margin-top: 5.5rem !important;
        margin-left: 0.75rem !important;
    }
}
.bi-list{
    color:white;
    font-size:2em;
}

.navbar {
    font-weight:bold;
     background-color:rgba(0, 0, 0, 0);
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

