@font-face {
    font-family: 'Roboto Black';
    src: url(../recursos/Roboto-Black.ttf) format('woff2'), url('../recursos/Roboto-Black.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}
h3 {
    font-family: 'Roboto Black', sans-serif;
    color:aqua;
}
span{
    font-family: 'Roboto Black', sans-serif;
    
}

.presentation {
    display: flex;
    flex-direction: row;

    padding: 20px;
    text-align: left;
    font-size: 23px;
    color: white;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.column {
    width:50%;
    margin: 5px;
}
.design {
    width: 60%;
    margin: 5px;
}
@media (max-width: 575px) {
    .presentation{
       background:none;
       border:none;
       padding-top:50px;
       box-shadow:none;
       flex-direction: column;
    }
    .column {

        width: 100%;
        margin: 5px;
    }

    .design {
        width: 100%;
        margin: 5px;
    }

}