
@media (max-width: 767px) {
    .home{
        flex-direction:column;
        margin-top:70px;
    }
    .formconctac {
        margin-top: -10px;
    }
    .commision{
        flex-direction:column;
        width:100%;
    }
    .frametext{
        padding:30px;
        width:100%;
    }
    .framesup{
        margin-top:60px;
    }
    .info, .sandy{
        width:100%;
    }
    .sandy{
        position:absolute;
        height:767px;
        z-index:-1;
    }
    .redes a {
       
        margin-bottom:20px;
    }

    .logo {
        max-width: 100%;
    }

    .sh {
        margin-top: 0;
        height:100%;
        max-width: auto;
        z-index:-1;
    }

    .shan {
       
        
        height: auto;
        opacity: 0.2;
    }
}
