@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

*{
    font-family: 'Fredoka', sans-serif;
}

body {
    overflow-x: hidden;
    background-image: url(https://i.ibb.co/jbhRZ7H/bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}
.homebak {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
}
.formconctac {
    margin-top: 10px;
    margin-bottom: 100px;
    text-align: center;
    display: flex;
    font-family: 'Fredoka',sans-serif;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.formconctac h1{
    justify-content:center;
    align-content:center;
    color: #f4f6fb;
    margin: 5px;
    
}

.email{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    align-content:center;
    margin-top:20px;
    font-family:'Fredoka',sans-serif;
}

.form-commision {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.email textarea{
    margin-left: 20px;
    width: 100%;
    height: 100px;
    border-radius: 20px;
    padding-left: 20px;
    font-size: 1.2rem;
    color: #9298A8;
    outline: none;
}
.email textarea:focus{
    color:#000000;
}

.email input {
    margin-left: 20px;
    width: 300px;
    height: 40px;
    border-radius: 20px;
    padding-left: 20px;
    font-size: 1.2rem;
    color: #9298A8;
    outline: none;
    font-family: 'Fredoka',sans-serif;
}
.email input:focus{
    color:#000000;
}
.log{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    align-content:center;
    justify-content:center;
    justify-items:center;
}

.redes {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #080b10;
    font-size: 1.8rem;
    flex-wrap: wrap;
}

.redes a {
   text-decoration: none;
    color: #080b10;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

}
.home{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    text-align:center;
}
.info{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    width:50%;
    float:left;
}
.sandy{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    width:50%;
    float:right;
}

.com1 {
    font-family: 'Roboto Black', sans-serif;
    font-size: clamp(2rem,9vw,2.5rem );
    color: #9298A8;
}

.com2 {
    
    font-family: 'Roboto Black', sans-serif;
    font-size: clamp(2rem,4vw,2.5rem );
    color: #50B2BB;
}
.com3 {
    font-family: 'Roboto Black', sans-serif;
    font-size: clamp(2rem,4vw,2.5rem );
    color: #fe0035;
}
.desc {

    font-family: 'Roboto Regular', sans-serif;
    font-size: clamp(0.5rem, 4vw, 1.5rem);
    color: #9298A8;
}
.adesc {
    text-decoration: none;
    font-family: 'Roboto Black', sans-serif;
    font-size: clamp(0.5rem, 4vw, 1.5rem);
    color: #50B2BB;
    
}
.adesc:hover {
    color: #f664ff;

}
.bis {
    text-align: center;
    background-color: #f4f6fb;
    box-shadow: 1px 1px 2px #8c8c94, 0 0 5px #8c8c94, 0 0 15px #8c8c94;
    border-radius: 40px;
    width: 45px;
    transition: transform 0.5s ease-in-out;
    margin-right: 20px;
}
.bis:hover{
    transform:scale(1.3);
    animation: shine 0.5s ease-in-out infinite alternate;
}

.slider {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter:blur(5px);
    padding: 50px;
    width: 95vw;
    height: auto;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 20px;
}
.frame {
    background-color: #f4f6fb;
    border-radius: 24px;
    height: 240px;
    left: 8px;
    top: 11px;
    margin-left: 46px;
    transform: rotate(-4deg);
    width: 320px;
    box-shadow: 1px 1px 2px #8c8c94, 0 0 5px #8c8c94, 0 0 15px #8c8c94;
    display: flex;
    justify-content: center;
    align-content: center;
    float:left;
   
}
.icono-frame {
    font-size: 8rem;
    color: #080c14;
    margin-left: 10px;
    margin-top: 10px;
    transform: rotate(-4deg);
}
.startcom {
    font-family: 'Fredoka', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: #f4f6fb;
    font-size: 5rem;
}
.framesup {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    align-content:center;
    margin-top:90px;
   
}
.commision{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-content:center;
    margin-top:50px;
}
.button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
    width: auto;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    transition: transform 0.3s ease-in-out;
    border-radius: 40px;
    background-color: #f4f6fb;
    text-decoration: none;
    color: #080b10;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Fredoka', sans-serif;
}
.email .button{
    margin-top:-10px;
    color:#000000;
}
.button i{
    font-size: 1.5rem;
    margin-right: 10px;
}

.button:hover {
    box-shadow: 1px 1px 2px #8c8c94, 0 0 5px #8c8c94, 0 0 15px #8c8c94;
    transform: scale(1.1);
    color:black;
}
.frametext p a {
    text-decoration: none;
    color: #50b2bb;
    font-weight: 700;
}
.frametext p a:hover{
    color: #f664ff;
}
.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite ;
    -webkit-animation: scroll 40s linear infinite ;
    width: calc(1000px * 4 );
}
.frametext {
    padding-left: 100px;
    width: 50%;
    float: right;

}
.slider .slide{

    width:333px;
    margin-right:10px;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #f4f6fb;
    
}

.title span {
    color: #50b2bb;
    font-weight: 700;
}
.slider .slide img{
    width:100%;
    height:auto;
    border-radius:10px;
    border : 4px solid #f4f6fb;
    box-shadow: 1px 1px 2px #8c8c94, 0 0 5px #8c8c94, 0 0 15px #8c8c94;
}
.frametext p {
    font-size: 1.2rem;
    color: #f4f6fb;
    font-weight: 400;
    margin-top: 20px;
}
.form-content {

}
@keyframes shine{
    0% {
        box-shadow: 1px 1px 2px #8c8c94, 0 0 5px #8c8c94, 0 0 15px #8c8c94;
    }
    100% {
        box-shadow: 0px 0px 0px #8c8c94, 0 0 0px #8c8c94, 0 0 0px #8c8c94;
    }
}



@keyframes scroll{
    0%{
        -webkit-transform:translateX(0);
        transform:translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-340px * 4));
        transform: translateX(calc(-340px * 4));
    }
}



@keyframes escale{
    0%{
        transform:scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}


