@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

@font-face {
    font-family: 'Roboto Black';
    src: url(../recursos/Roboto-Black.ttf) format('woff2'), url('../recursos/Roboto-Black.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Regular';
    src: url(../recursos/Roboto-Regular.ttf) format('woff2'), url('../recursos/Roboto-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    background-image: url(../recursos/BG.gif);
    background-size: cover;
    overflow-x: hidden;
}
.homebak {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
}


.log{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    align-content:center;
    justify-content:center;
    justify-items:center;
}

.redes {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #080b10;
    font-size: 1.8rem;
    flex-wrap: wrap;
}

.redes a {
   text-decoration: none;
    color: #080b10;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

}
.home{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    text-align:center;
}
.info{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    width:50%;
    float:left;
}
.sandy{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    width:50%;
    float:right;
}

.com1 {
    font-family: 'Roboto Black', sans-serif;
    font-size: clamp(2rem,9vw,2.5rem );
    color: #9298A8;
}

.com2 {
    font-family: 'Roboto Black', sans-serif;
    font-size: clamp(2rem,4vw,2.5rem );
    color: #50B2BB;
}
.desc {

    font-family: 'Roboto Regular', sans-serif;
    font-size: clamp(0.5rem, 4vw, 1.5rem);
    color: #9298A8;
}
.adesc {
    text-decoration: none;
    font-family: 'Roboto Black', sans-serif;
    font-size: clamp(0.5rem, 4vw, 1.5rem);
    color: #50B2BB;
    
}
.adesc:hover {
    color: #f664ff;

}
.bis {
    text-align: center;
    background-color: #f4f6fb;
    box-shadow: 1px 1px 2px #8c8c94, 0 0 5px #8c8c94, 0 0 15px #8c8c94;
    border-radius: 40px;
    width: 45px;
    transition: transform 0.5s ease-in-out;
    margin-right: 20px;
}
.bis:hover{
    transform:scale(1.3);
    animation: shine 0.5s ease-in-out infinite alternate;
}
@keyframes shine{
    0% {
        box-shadow: 1px 1px 2px #8c8c94, 0 0 5px #8c8c94, 0 0 15px #8c8c94;
    }
    100% {
        box-shadow: 0px 0px 0px #8c8c94, 0 0 0px #8c8c94, 0 0 0px #8c8c94;
    }
}







@keyframes escale{
    0%{
        transform:scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}


