@media (max-width: 767px) {
    .columna {
        
        flex: 1;
        margin: 20px;
        margin-bottom: 0px;
    }

        .columna:first-child {
            position: absolute;
            flex: 1;
        }

    .redes a {
       
        margin-bottom:20px;
    }

    .logo {
        max-width: 100%;
    }

    .sh {
        margin-top: 0;
        width: 600px;
    }

    .shan {
       
        
        height: auto;
        opacity: 0.2;
    }
}
