@{
    ViewData["Title"] = "About Me";
}

<link rel="stylesheet" href="~/css/aboutme.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
<section class="card card-body m-4 presentation">
    <div class="column p-3">
        <img src="~/recursos/police.png" width="180em"/>
        <h3> Shandrew</h3>
        Hola soy <span class="fw-bold">Shandrew</span>. Soy un <span>artista vtuber 3D</span> </br>
        que hace modelados 3D <span>Blender</span> y <span>Unity</span>,</br>
        para streamers y demas. 
        desde Junio del 2021,</br>el arte, la programación 
        son mi pasión y mi trabajo. </br>
    </div>
    <div class="column p-3"><h3>Diseño</h3></div>
    <div class="column p-3">
        <h3>Info</h3><br />
        <span>Mis herramientas:</span><br />
        <ul>
            <li>Vroid</li>
            <li>Blender</li>
            <li>Unity</li>
            <li>Photoshop</li>
            <li>After Effects</li>
        </ul>
        <h3>Otros trabajos</h3><br />
        <ul>
            <li>Programación</li>
            <li>Edición de video</li>
            <li>Twitch Streamer</li>
            <li>Youtuber</li>
        </ul>
    </div>
</section>