@{
    ViewData["Title"] = "About Me";
}

<link rel="stylesheet" href="~/css/aboutme.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap" rel="stylesheet">
<section class="m-4 text-white presentation">

    <h1 align="center"><b>Hi , I'm Shandrew </b><img src="https://media.giphy.com/media/hvRJCLFzcasrR4ia7z/giphy.gif" width="35"></h1>
    <p align="center">
        <img src="https://readme-typing-svg.herokuapp.com?font=Time+New+Roman&color=cyan&size=25&center=true&vCenter=true&width=600&height=100&lines=Full+Stack+Developer..&hearts;++;Active+Learner;Love+to+learn+new+stuffs.<3,;Vtuber">
    </p>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img width="100%" src="https://user-images.githubusercontent.com/73097560/115834477-dbab4500-a447-11eb-908a-139a6edaec5c.gif"></a>

   

    <table class=" table table-bordered table-responsive text-white" align="center">
        <td>
            <h1>👨🏻‍💻 About Me</h1>
            👋 Hey! I'm an anime-style artist who makes ilustrations and Vtuber models PNG/3D for streamers and such.<br />
            🎓 &nbsp;I'm currently studying System Engineering.<br />
            ✍️ &nbsp;In my free time, I draw in digital and make content in youtube as hobbies/side hustles.<br />
            🤡 &nbsp;Vtuber.

        </td>
        <td >
            <br>
            <h1 align="center">⚙️Tools:</h1>
            <br>
            <p align="center">
               
                    <img src="https://skillicons.dev/icons?i=blender,ps,ae,pr&perline=14" />
                    <img width="62" height="62" src="https://img.icons8.com/plasticine/100/vroid.png" alt="vroid" />
                <img class="bg-white round" width="50" height="50" src="https://img.icons8.com/ios/50/clip-studio-paint.png" alt="clip-studio-paint" />
            </p>

            <br>
        </td>
        
    </table>
    <div class="m-3">
    <h2>Desing:</h2>
        <img height="800vh" src="https://i.ibb.co/VCMRkYb/Ilustraci-n.webp" />
        <img height="800vh" src="https://i.ibb.co/8gF3mJC/SandyPNG.webp" />
    </div>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img width="100%" src="https://user-images.githubusercontent.com/73097560/115834477-dbab4500-a447-11eb-908a-139a6edaec5c.gif"></a>

</section>
