@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/home.css" />
<section class="homebak">
    <div class="noche">
        <div class="column">
            <img class="logo" src="~/recursos/logo.png" />
        </div>
        <div class="column">
            <img class="shan" src="~/recursos/police.png" />
        </div>
     
    </div>
   
</section>
